.piece0 {
   background-color: gray;
   width: 20px;
   margin: 10px;
}

.piece1 {
    background-color: red;
    width: 20px;
    margin: 10px;
}

.piece2 {
    background-color: blue;
    width: 20px;
    margin: 10px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.col {
    border-style: solid;
    border-width: 3px;
}
